@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importing the modules */
@import url("./components/index.css");
@import url("./ui/index.css");


* {
    font-family: "Barlow";
}

main {
    @apply h-full w-full flex flex-col;
}

/* Navbar section */

header {
    @apply bg-blue-500 h-fit;
}

nav {
    @apply w-full py-0 px-4;
}

nav .logo {
    @apply px-0 flex justify-between items-center;
}

nav .logo-img {
    @apply w-28 h-auto;
}

nav .logo-img img {
    @apply w-full;
}

nav .logo .hambuger-menu {
    @apply text-white cursor-pointer;
}


nav .nav-menu {
    @apply translate-x-[-100vw] h-0 transition-all delay-100 ease-in-out w-full bg-white shadow-xl mt-6 rounded-md ring-4 ring-blue-200 text-zinc-600;
}

nav .nav-menu ul {
    @apply h-[inherit];
}

nav .nav-menu.active-menu {
    @apply h-full translate-x-0 mb-8;
}

nav .nav-menu li {
    @apply py-3 border-b-[1px] flex gap-3 border-zinc-200 px-4 hover:bg-blue-200 transition-all ease-out cursor-pointer hover:font-medium hover:text-zinc-800; 
}

nav .nav-menu li.active {
    @apply bg-blue-200 text-zinc-600;
}

nav .nav-menu li:last-child {
    @apply flex justify-center;
}

.contact-icons {
    @apply flex gap-x-4 text-blue-700;
}

/* Navbar section ends here */


/* Dashboard content starts here */

section {
    @apply h-screen w-full bg-white;
}

/* Dashboard content */

section .section-container {
    @apply w-full;
}

/* Section Header */

section .section-header {
    @apply hidden w-full bg-blue-50 py-4 shadow-sm justify-between px-4 items-center; 
}

.section-header .icons {
    @apply flex items-center gap-2

}

.section-header span i {
    @apply text-blue-700;
}

.section-header .icons i {
    @apply text-blue-700;
}

/* Section ends here */

.section-content {
    @apply pt-8 px-4;
}

.section-content .section-stats {
    @apply grid grid-cols-2 gap-y-4 gap-x-4;
}

.section-stats .stat {
    @apply py-2 px-4 bg-green-300 rounded font-semibold flex items-center gap-x-1;
}

.section-stats .stat:nth-child(1) {
    @apply text-white;
    background: linear-gradient(45deg, #ec4848, #be1818);
}

.section-stats .stat:nth-child(2) {
    @apply text-white;
    background: linear-gradient(45deg, #48c3ec, #1892be);
}

.section-stats .stat:nth-child(3) {
    @apply text-white;
    background: linear-gradient(45deg, #3fdccf, #18beb6);
}

.section-stats .stat:nth-child(4) {
    @apply text-white;
    background: linear-gradient(45deg, #ec9748, #be7618);
}

.section-stats .stat .stat-KPI {
    @apply text-[40px] text-white font-light block;
}

/* Section Info */
.section-info {
    @apply mt-5 border-t-2 border-zinc-200;
}

.info-container {
    @apply py-8 flex flex-col gap-y-5;
}

.info-general {
    @apply border-2 border-zinc-100 px-4 py-8 rounded;
}

.info-general h5{
    @apply font-semibold pb-4;
}

.info-general table {
    @apply w-full;
}

.info-general table tr {
    @apply flex flex-col;
}

.info-general table tr td {
    @apply w-full my-1 py-4 px-4 rounded-md border-2 border-zinc-50 block hover:bg-zinc-100 transition-all ease-in-out cursor-pointer hover:border-transparent hover:shadow;
}

/* Info action */
.info-actions {
    @apply flex flex-col gap-y-3;
}

.action-btn {
    @apply hover:bg-zinc-50 transition-all ease-in-out py-4 px-3 shadow rounded-sm flex justify-center font-medium text-base items-center;
}


/* Responsive section */
@screen lg {

    /* Navbar section */
    main {
        @apply flex flex-row;
    }

    header {
        @apply h-screen w-1/4 shadow-xl;
    }

    nav {
        @apply w-full pt-4 px-0;
    }

    nav .logo {
        @apply w-28 h-auto px-4;
    }

    nav .nav-menu {
        @apply w-full block translate-x-0 bg-transparent shadow-none mt-6 rounded-none ring-0 text-white;
    }

    nav .nav-menu li {
        @apply py-3 border-b-[-0px] px-4 hover:bg-white transition-all ease-out cursor-pointer hover:font-medium hover:text-blue-500; 
    }

    nav .logo .hambuger-menu {
        @apply hidden;
    }

    .contact-icons {
        @apply hidden;
    }
    /* Navbar section ends here */

    /* Dashboard content Starts here */

    /* Section header */
    section .section-header {
        @apply flex w-full bg-blue-50 py-4 shadow-sm justify-between px-4 items-center; 
    }

    /* Stats */
    .section-content .section-stats {
        @apply grid-cols-4;
    }

    /* Section content */
    .info-general table tr {
        @apply flex-row gap-x-4;
    }

    .info-general table tr td {
        @apply border-transparent hover:bg-transparent hover:shadow-none py-0 px-0;
    }

    .info-general {
        @apply w-3/4 border-2 border-zinc-100 px-4 py-4 rounded;
    }

    .info-container {
        @apply flex-row gap-x-4;
    }

    .info-actions {
        @apply w-1/4
    }
}

@screen xl {

    header {
        @apply h-screen w-3/12 shadow-xl;
    }
    .section-content .section-stats {
    }
}


